:root {
  --square: 42px;
  --frame: 16px;
  --board: calc(var(--square) * 8);
  --container: calc(var(--frame) * 2 + var(--board));
}

.container {
  background-color: #7a774f;
  width: var(--container);
  height: var(--container);
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  position: absolute;
  font-size: 0;
  width: var(--board);
  height: var(--board);
  border: 1px solid black;
}

.labels {
  position: absolute;
  height: var(--container);
  width: var(--container);
}

.files,
.ranks {
  font-size: 10px;
  color: white;
}

.file,
.rank {
  text-align: center;
}

.files {
  padding-left: var(--frame);
  line-height: var(--frame);
  display: flex;
  position: absolute;
  bottom: 0;
}

.file {
  width: var(--square);
  height: var(--frame);
}

.ranks {
  padding-top: var(--frame);
  line-height: var(--square);
  width: var(--frame);
  position: absolute;
  left: 0;
}

.rank {
  width: var(--frame);
  height: var(--square);
}

.darkSquare {
  background-color: #ada981;
}

.lightSquare {
  background-color: #d8d5b5;
}

.darkSquare,
.lightSquare {
  display: inline-block;
  width: var(--square);
  height: var(--square);
}
