.container {
  background-color: #7a774f;
  width: var(--boardContainerWidth);
  height: var(--boardContainerWidth);
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  position: absolute;
  font-size: 0;
  width: var(--boardWidth);
  height: var(--boardWidth);
  border: 1px solid black;
}

.labels {
  position: absolute;
  height: var(--boardContainerWidth);
  width: var(--boardContainerWidth);
}

.files,
.ranks {
  font-size: 10px;
  color: white;
  user-select: none;
}

.file,
.rank {
  text-align: center;
}

.files {
  padding-left: var(--frameWidth);
  line-height: var(--frameWidth);
  display: flex;
  position: absolute;
  bottom: 0;
}

.file {
  width: var(--squareWidth);
  height: var(--frameWidth);
}

.ranks {
  padding-top: var(--frameWidth);
  line-height: var(--squareWidth);
  width: var(--frameWidth);
  position: absolute;
  left: 0;
}

.rank {
  width: var(--frameWidth);
  height: var(--squareWidth);
}
