.r,
.n,
.b,
.q,
.k,
.p,
.R,
.N,
.B,
.Q,
.K,
.P {
  background-repeat: no-repeat;
  height: var(--squareWidth);
  width: var(--squareWidth);
  background-position: center;
}

.K {
  background-image: url('../img/2d/wk.svg');
}

.Q {
  background-image: url('../img/2d/wq.svg');
}

.B {
  background-image: url('../img/2d/wb.svg');
}

.N {
  background-image: url('../img/2d/wn.svg');
}

.R {
  background-image: url('../img/2d/wr.svg');
}

.P {
  background-image: url('../img/2d/wp.svg');
}

.k {
  background-image: url('../img/2d/bk.svg');
}

.q {
  background-image: url('../img/2d/bq.svg');
}

.b {
  background-image: url('../img/2d/bb.svg');
}

.n {
  background-image: url('../img/2d/bn.svg');
}

.r {
  background-image: url('../img/2d/br.svg');
}

.p {
  background-image: url('../img/2d/bp.svg');
}
