.dark {
  background-color: #ada981;
}

.light {
  background-color: #d8d5b5;
}

.dark,
.light {
  display: inline-block;
  width: var(--squareWidth);
  height: var(--squareWidth);
}

.valid {
  background-color: blue;
}
